{% extends 'base.html.twig' %}

{% block body %}
    <h1>create food for brand {{ brandName }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.carbs) }}
    {{ form_row(form.ingestionType) }}
    {{ form_row(form.calories) }}

    <button type="submit">enregistrer</button>
    {{ form_end(form) }}
{% endblock %}

