{% extends 'base.html.twig' %}

{% block title %}Modifier le checkpoint{% endblock %}

{% block body %}
    <h1>Modifier le checkpoint : {{ checkpoint.name }}</h1>
    
    <p><a href="{{ url('app.race.edit', {raceId: race.id}) }}">← Retour à la gestion de la course</a></p>
    
    <h2>Course : {{ race.name }}</h2>
    <p>{{ (race.distance / 1000)|number_format(1) }} km - D+ {{ race.ascent }} m</p>
    
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.location) }}
        {{ form_row(form.distanceFromStart) }}
        {{ form_row(form.ascentFromStart) }}
        {{ form_row(form.descentFromStart) }}
        {{ form_row(form.cutoffTime) }}
        {{ form_row(form.assistanceAllowed) }}
        
        <button type="submit">Modifier le checkpoint</button>
        <a href="{{ url('app.race.edit', {raceId: race.id}) }}">Annuler</a>
    {{ form_end(form) }}
{% endblock %}
