{% extends 'base.html.twig' %}


{% block body %}
    {% if hasError == true %}
        Un utilisateur avec ces identifiants existe déjà.
    {% endif %}

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}

    <button type="submit">register</button>
    {{ form_end(form) }}

{% endblock %}


